<!DOCTYPE html>
<html lang="utf-8">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>个人主页</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />

		<script type='text/javascript'
				src='/js/common/jquery.js' charset='utf-8'></script>
		<script type='text/javascript'
				src='/js/common/common.js' charset='utf-8'></script>
		<script type='text/javascript'
				src='/js/user/info.js' charset='utf-8'></script>
		<script type='text/javascript'
				src='/js/headtest.js' charset='utf-8'></script>
	</head>

	<body>

		<div class="f-main clearfix">
			<div class="setting-left">

			</div>
			
			
			<div class="setting-right"  >
				<div>
					<span class="f-16">个人信息</span>
				</div>
				<div class="split-line" style="margin: 20px 0px;"></div>
				
				<div>
					<div class="oc-form" id="infoForm" >
						<div >
							<input type="file" id="pictureImg"  style="display: none;">

							<img id="user_header" src="" style="height:96px;">

							<div style="margin:15px 0px;" class="clearfix">
								<a href="javascript:void(0);" id="doupload" style="float:left;" class="btn">更换头像</a>
								<span id="imgErrSpan" style="color:red;font-weight:normal;float:left;margin-left:10px;margin-top:5px;"></span>
							</div>
						</div>
						
						<li><label>昵称</label> 
							<span id="loginname"></span>
						</li>
						<li><label>姓名</label> 
							<input id="realname"  type="text"  class="input-text2">
						</li>
						<li><label>性别</label> 
							<select class="input-select" id="gender">
								<option value="1">男</option>
								<option value="0">女</option>
							</select>
						</li>
						<li><label>出生日期（年月）</label>
							<input id="birthday"   type="text"  class="input-text2">
						</li>
						<li><label>手机号码</label>
							<input id="mobile"  type="text"  class="input-text2">
						</li>

						<li><label>个性签名</label>
							<input id="sign"    type="text"  class="input-text2">
						</li>
						
						<li class="clearfix" style="margin-top: 50px;padding-left: 170px;">
							<div class="btn" id="submit">保存</div>
						</li>
						
						<li>
							<div id="myAlert" class="alert alert-success" style="display: none;">
								<span id="myAlert_msg" class="color-oc f-16">保存成功！</span>
							</div>
						</li>
					</div>
				</div>
			</div>
		</div>

	</body>
	
</html>
